member-system-api/src/main/mule/member-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
	<flow name="member-system-api-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="member-system-api-config"/>
        <error-handler ref="commonerrorError_Handler">
            
        </error-handler>
    </flow>
    <flow name="member-system-api-console" doc:id="a81fc4fe-1bca-42c7-90dc-d7855f36af5d">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="member-system-api-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\members\(memberId):application\json:member-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="memberId">attributes.uriParams.'memberId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "successful operation",
  code: 200,
  data: {
    memberId: "Mdsah8734873"
  },
  success: "true"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="64dee766-70ea-4cf7-bf3a-8e21b55fe658" name="patch-memberidFlow"/>
    </flow>
    <flow name="get:\members:member-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  memberList: [
    {
      firstName: "Naveen",
      lastName: "Raj",
      maritalStatus: "Unmarried",
      title: "Mr",
      gender: "Male",
      occupation: "Engineer",
      registrationChannel: "WFC_MP",
      preferredName: "Nav",
      identity: {
        password: "testing",
        phoneCountry: "86",
        phoneNumber: "18888888887",
        email: "emailNaveen001@email.com"
      },
      address: {
        country: "HongKong",
        city: "HongKong",
        area: "CentralAndWesternDistrict",
        province: "HongKongIsland",
        placeOfResidence: "12/3 Kamaraj Street"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="261cbd61-d36d-458a-b57d-52ab7aee3e84" name="get-memberlistFlow"/>
    </flow>
    <flow name="get:\members\(memberId):member-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="memberId">attributes.uriParams.'memberId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  firstName: "Naveen",
  lastName: "Raj",
  maritalStatus: "Unmarried",
  title: "Mr",
  gender: "Male",
  occupation: "Engineer",
  registrationChannel: "WFC_MP",
  preferredName: "Nav",
  identity: {
    password: "testing",
    phoneCountry: "86",
    phoneNumber: "18888888887",
    email: "emailNaveen001@email.com"
  },
  address: {
    country: "HongKong",
    city: "HongKong",
    area: "CentralAndWesternDistrict",
    province: "HongKongIsland",
    placeOfResidence: "12/3 Kamaraj Street"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="ec6244b7-b8b5-4786-bd4c-d91841b88959" name="member-system-api-console"/>
    </flow>
    <flow name="post:\members:application\json:member-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "successful operation",
  code: 200,
  data: {
    memberId: "Mdsah8734873"
  },
  success: "true"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="836fcdda-c54c-4021-b256-69ca6279e884" name="post-memberlistFlow"/>
    </flow>
    <flow name="post:\members\sync:application\json:member-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "successful operation",
  code: 200,
  data: {
    memberId: "Mdsah8734873"
  },
  success: "true"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="06941a95-0619-4296-a66e-713109ca418a" name="post-member-syncFlow"/>
    </flow>
</mule>
